<!-- <mat-toolbar color="primary" class="docs-navbar-header mat-elevation-z6" aria-label="Top Toolbar"> -->
<nav class="docs-navbar-header" aria-label="Top Toolbar">
  <a mat-button routerLink="/"
   class="docs-button"
  aria-label="Metabook"
  aria-disabled="false">
    <img
      class="docs-metabook-logo"
      src="https://material.angular.io/assets/img/homepage/angular-white-transparent.svg"
      alt="metabook"
    />
    Metabook
  </a>

  <a
    mat-button
    routerLink="/components"
    class="docs-button"
    aria-label="Metabook"
    aria-disabled="false"
  >
    Components
  </a>
</nav>
<!-- </mat-toolbar> -->
