@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~highlight.js/styles/atom-one-light.css';

@import 'material.scss';

:root {
  --meta-primary-color: #673ab7;
  --meta-secondary-color: #673ab7;
  --meta-font-color: #ffffff;
  --meta-background-color: #fafafa;
  --meta-nav-height: 56px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
}
body {
  background-color: var(--meta-background-color);
  margin: 0;
  font-family: Roboto, "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;
}


// Highlight styles
.docs-markdown pre {
  background: rgba(0,0,0,.01);
  border: 0.5px solid rgba(0,0,0,.2);
  font-family: "Roboto Mono", monospace;
  border-radius: 5px;
  display: block;
  margin: 16px auto;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
  font-size: 14px;
}

.docs-markdown p code {
  background: rgba(0,0,0,.03);
  padding: 3px;
}
